<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Lab11Task1Servlet</display-name>
    <servlet-name>Lab11Task1Servlet</servlet-name>
    <servlet-class>cs472.miu.edu.Task1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lab11Task1Servlet</servlet-name>
    <url-pattern>/result/task1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lab11Task2Servlet</display-name>
    <servlet-name>Lab11Task2Servlet</servlet-name>
    <servlet-class>cs472.miu.edu.Task2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lab11Task2Servlet</servlet-name>
    <url-pattern>/result/task2</url-pattern>
  </servlet-mapping>
</web-app>
